{% extends 'common/layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/components/filter_btn.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-between">
    <div class="map-container col-12 col-lg-8">
      <div id="map" style="width:100%;height:80vh;">
      </div>
    </div>
    <div class="card-container col-12 col-lg-4">
      <div class="card-filter">
        {% include '/map/map_filter.html' %}
      </div>
      <div id="card-list">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var exhibitionsArray = {{ exhibition_list|safe }} ;
</script>
<script type="module" src="{{ url_for('static', filename='/js/map.js')}}"></script>
{% endblock %}