<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Exhibition Map</title>
  <style>
    img {
      height: 100px;
    }

    .container {
      display: flex;
    }

    .card {
      display: flex;
      flex-direction: row;
    }
  </style>
</head>

<body>
  <script type="text/javascript"
    src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ api_key }}&libraries=services,clusterer,drawing&autoload=false"></script>
  <div class="container">
    <div id="map" style="width:50%;height:400px;"></div>
    <div id="card-list"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    var exhibitionsArray = JSON.parse('{{ exhibition_list|safe }}');
  </script>
  <script src="{{ url_for('static', filename='map.js')}}"></script>
</body>

</html>