{% extends 'common/layout.html' %}
{% block style %}
<style>
    .carousel {
        height: 600px;
    }

    .carousel-control-button {
        width: 100px;
    }

    .carousel-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .carousel-caption {
        background-color: #00000080;
        left: 0;
        padding: 30px;
        height: 40%;
        width: 100%;
        bottom: 0; 
    }
</style>
{% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <button class="carousel-control-button carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-button carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-inner" style="height: 600px;">
            {% for exhibition in exhibitions %}
                <a href="{{ url_for('exhibition.exhibition', id=exhibition.id) }}">
                    {% if loop.index-1 == 0 %}
                        <div class="carousel-item active" style="height: 100%;">
                    {% else %}
                        <div class="carousel-item" style="height: 100%;">
                    {% endif %}
                        <img class="carousel-image" src="{{ url_for('static', filename=image_url[loop.index-1]) }}"/>
                        <div class="carousel-caption">
                            <h1>{{ exhibition.title|safe }}</h1>
                            <p>{{ exhibition.start_date }} ~ {{ exhibition.end_date }}</p>
                            <p>{{ exhibition.gallery_name }}</p>
                            {% if loop.index-1 == 0 %}
                            <p>일상적인 이야기 속에 일어나는 순간을 담아내어 각자가 가지는 의미를 "Constant moment"展에서 감상자들에게 전달하고자 한다.<br>
                                작가는 우리의 일상 속 평범한 모습을 그림으로 나타내며, 그 안에 감성적인 이야기를 담아 공감을 불러일으킨다.</p>
                            {% elif loop.index-1 == 1 %}
                            <p>성동구의 서울숲에서 착안하여 서울시립미술관의 소장작품 중 자연을 주제로 하는 작품을 선보인다. 일상의 풍경을 묘사하는 것에서부터 <br>
                                추상적 형태까지 다양한 방식으로 자연을 구현하고 있는 작품들을 통해 일상에서 간과하는 자연의 의미와 가치, 인간과 자연의 관계 등에 대해 숙고해 볼 수 있다.</p>
                            {% else %}
                            <p>돈의문박물관마을 2회 기억전당포 공모전을 통해 선정된 시민 12인의 ‘1990년대 서울 나들이’ 기억을 한 자리에 선보인다.<br>
                                서울 100년의 이야기 중 ‘1990년대 서울 나들이’를 주제로 일반 시민들의 기억과 관련된 사진, 영상, 물건 등을 전시하여 관람객과 공감대를 형성하고자 한다.</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
    </div>
</div>
{% endblock %}