{% extends 'common/layout.html' %}

{% block content %}
<div class="booking">
  <!-- <h1>현재 페이지는 공사 중 입니다.</h1> -->
  <h3 class="fw-bold">{{ data.exhibition.title|safe }}</h3>
  <!-- 전시 정보 -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="{{ data.exhibition.thumbnail_img }}" alt="{{ data.exhibition.title|safe }}" class="img-fluid"
          style="max-height: 400px;">
      </div>
      <div class="col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <th class="col-md-3">기간</th>
              <td>{{ data.exhibition.start_date or '-' }} ~ {{ data.exhibition.end_date or '-'}}</td>
            </tr>
            <tr>
              <th class="col-md-3">시간</th>
              <td>{{ data.exhibition.opening_hours or '-' }}</td>
            </tr>
            <tr>
              <th class="col-md-3">장소</th>
              <td>
                {% if data.exhibition.area %}
                {{ data.exhibition.area }} |
                {% endif %}
                <a href="/gallery/{{data.exhibition.gallery_id}}">{{ data.exhibition.gallery_name or '-' }}</a>
              </td>
            </tr>
            <tr>
              <th class="col-md-3">요금</th>
              <td>{{ data.exhibition.price or '-' }}</td>
            </tr>
          </tbody>
        </table>
        <div class="booking d-flex justify-content-center">
            <input type="submit" value="예매하기" class="btn btn-outline-secondary">
        </div>
        <!-- 드롭다운 -->
        <div class="form-group">
          <label for="dateDropdown">관람일</label>
          <select class="form-control" id="dateDropdown">
            <option value="">날짜를 선택하세요</option>
            {% for date in data.date_range %}
            <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block script %}
  <script src="{{ url_for('static', filename='/js/booking.js') }}" defer></script>
  {% endblock %}