{% extends 'common/layout.html' %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/components/booking.css') }}">
{% endblock %}

{% block content %}
<div class="booking">
  <!-- <h1>현재 페이지는 공사 중 입니다.</h1> -->
  <h3 class="fw-bold">{{ data.exhibition.title|safe }}</h3>
  <!-- 전시 정보 -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="{{ data.exhibition.thumbnail_img }}" alt="{{ data.exhibition.title|safe }}" class="img-fluid"
          style="max-height: 400px;">
      </div>
      <div class="col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <th class="col-md-3">기간</th>
              <td>{{ data.exhibition.start_date or '-' }} ~ {{ data.exhibition.end_date or '-'}}</td>
            </tr>
            <tr>
              <th class="col-md-3">시간</th>
              <td>{{ data.exhibition.opening_hours or '-' }}</td>
            </tr>
            <tr>
              <th class="col-md-3">장소</th>
              <td>
                {% if data.exhibition.area %}
                {{ data.exhibition.area }} |
                {% endif %}
                <a href="/gallery/{{data.exhibition.gallery_id}}">{{ data.exhibition.gallery_name or '-' }}</a>
              </td>
            </tr>
            <tr>
              <th class="col-md-3">요금</th>
              <td>
                {% if data.exhibition_price %}
                  <table>
                    {% for price in data.exhibition_price %}
                      <tr>
                        <td>{{ price.ticket_type }}</td>
                        <td>{{ price.final_price }}원</td>
                      </tr>
                    {% endfor %}
                  </table>
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 예매 옵션 선택 -->
        <div class="form-group">
          <div id="booking-date"></div>
          <div>
            <label for="ticket-type">티켓 종류 :</label>
            <select id="ticket-type">
              <option disabled selected>티켓 종류</option>
              {% for price in data.exhibition_price %}
                <option value="{{ price.final_price }}" data-ticket-type="{{ price.ticket_type }}">{{ price.ticket_type }} | {{ price.final_price }}원</option>
              {% endfor %}
            </select>
          </div>
          <div class="selected-option">
            <p id="selected-date"></p>
            <div>
              <p class="selected-price-full"><span id="selected-price">0</span>원</p>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-outline-secondary" id="booking">예매하기</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <!-- 결제 -->
        <div class="payments" hidden>
          <div id="payment-method"></div>
          <div id="agreement"></div>
          <button id="payment-button">결제하기</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block script %}
  <script>
    var data = {{ data|tojson|safe }};
  </script>  
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='/js/booking.js') }}"></script>
  {% endblock %}