{% extends 'common/layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/components/booking.css') }}">
{% endblock %}

{% block content %}
    <!-- 결제 성공 시 -->
    <h2 style="margin-top: 10px; padding: 20px 0px 10px 0px">
      <img
        width="45px"
        src="https://static.toss.im/3d-emojis/u1F911-apng.png"
      />
      결제 성공
    </h2>
    <div class="gray">
      <p>결제 ID: {{ data['respaymentKey'] }}</p>
      <p>주문 ID: {{ data['resorderId'] }}</p>
    </div>
    <a href="/user/booking_list" class="to-booking-list">내 예매 내역 페이지로 이동</a>
{% endblock %}