{% extends 'common/layout.html' %}

{% block content %}
  <div class="col-md-6">
    <!-- 결제 성공 시 -->
    <h2 style="margin-top: 10px; padding: 20px 0px 10px 0px">
      <img
        width="45px"
        src="https://static.toss.im/3d-emojis/u1F911-apng.png"
      />
      결제 성공
    </h2>
    <div class="gray">
      <p>paymentKey = {{ data['respaymentKey'] }}</p>
      <p>orderId = {{ data['resorderId'] }}</p>
    </div>

    <div class="gray">
      <b>Response Data :</b>
      <pre>
            {{ data['res'] }}
          </pre
      >
    </div>
  </div>
{% endblock %}