{% extends 'common/layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/components/exhibition-card.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/css/components/icon.css') }}" />
{% endblock %}

{% block content %}
  <!-- 작가 이름 -->
  <h3 class="fw-bold">{{ data.artist[0].name }}
    {% if data.user_id %}
      {% if data.artist[0].id in data.followed_artist_ids %}
        <div class="bookmark on" onclick="followArtist(this, '{{ data.artist[0].id }}')"></div>
      {% else %}
        <div class="bookmark off" onclick="followArtist(this, '{{ data.artist[0].id }}')"></div>
      {% endif %}
    {% else %}
      <div class="bookmark off" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></div>
    {% endif %}
  </h3>  
  <!-- 전시회 상태별 정보 -->
  <div class="ongoing_exhibitions">  
    <h5 class="fw-bold">진행중 전시회</h5>
  </div>
  <div class="upcoming_exhibitions">
    <h5 class="fw-bold">예정중 전시회</h5>
  </div>
  <div class="ended_exhibitions">
    <h5 class="fw-bold">지난 전시회</h5>
  </div>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var data = {{ data|tojson|safe }};
  console.log(data)
</script>
<script src="{{ url_for('static', filename='/js/exhibition_detail_card.js')}}"></script>
<script src="{{ url_for('static', filename='/js/like_exhibition.js') }}"></script>
<script src="{{ url_for('static', filename='/js/follow_artist.js') }}"></script>
{% endblock %}
