{% extends 'common/layout.html' %}

{% block content %}
  <!-- 작가 이름 -->
  <h3 class="fw-bold">{{ data.artist[0].name }}
    {% if data.user_id %}
      {% if data.artist[0].id in data.followed_artist_ids %}
        <i class="fa-solid fa-bookmark fa" onclick="followArtist(this, '{{ data.artist[0].id }}')"></i>
      {% else %}
        <i class="fa-regular fa-bookmark fa" onclick="followArtist(this, '{{ data.artist[0].id }}')"></i>
      {% endif %}
    {% else %}
      <i class="fa-regular fa-bookmark fa" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
    {% endif %}
  </h3>  
  <!-- 전시회 상태별 정보 -->
  <div class="exhibition-card-list"></div>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var data = {{ data|tojson|safe }};
  console.log(data)
</script>
<script type="module" src="{{ url_for('static', filename='/js/exhibition_card.js')}}"></script>
{% endblock %}
