{% extends 'common/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/search_box.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/filter_btn.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/pagination.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/icon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/rounded_card.css') }}">
{% endblock %}

{% block search %}
  <form action="/search/artist" method="GET">
    {% set keyword = data.keyword %}
    {% include 'common/block_search.html' %}
  </form>
  {% if keyword %}
    <span class="search_result">"{{ keyword }}" 검색결과 {{ data.artist_count }}건</span>
  {% endif %}
    <span class="search_result"></span>
  {% set type = "artist" %}
  {% include './common/filter.html' %}
{% endblock %}

{% block content %}
  <h3>작가({{ data.artist_count }})</h3>
  <!-- 작가 카드 리스트 (JavaScript로 카드 생성) -->
  <div class="artist-card-list rounded-card-list"></div>
  <!-- 페이지네이션 -->
  <div class="pagination">
    {% set url = "" %}
    {% if data.keyword %}{% set url = url + "&keyword=" + data.keyword %}{% endif %}
    {% include 'common/pagination.html' %}
  </div>
{% endblock %}

{% block script %}
<script>
  var data = {{ data|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='/js/artist_card.js')}}"></script>
<script src="{{ url_for('static', filename='/js/follow_artist.js')}}"></script>
{% endblock %}
