{% extends 'common/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/search_box.css') }}">
  <script src="{{ url_for('static', filename='search_exhibition.js') }}" defer></script>
  <script src="{{ url_for('static', filename='truncate.js') }}" defer></script>
{% endblock %}

{% block search %}
  <form action="/search/exhibition" method="GET">
    <div class="input-group mb-3" style="width: 500px; margin: 0 auto; padding-top: 50px;">
      <input type="text" name="data.keyword" class="form-control" placeholder="검색" value="{{ data.keyword }}" id="keyword-input">   
      <button class="btn btn-outline-secondary" type="submit" id="filter-button">검색</button> 
    </div>
  </form>
  {% if data.keyword %}
    <span class="search_result">"{{ data.keyword }}" 검색결과 {{ data.exhibition_count }}건</span>
  {% endif %}
  {% set type = "exhibition" %}
  {% include './common/filter.html' %}
{% endblock %}

{% block sorting %}
  {% include 'common/block_sorting.html' %}
{% endblock %}

{% block content %}
  <h3>전시({{ data.exhibition_count }})</h3>
  <div class="row row-cols-1 row-cols-md-3 g-5">
    {% for exhibition in data.exhibitions %}
    <div class="col">
      <div class="card" id="{{ exhibition.id }}">
        {% if data.user_id %}
          {% if exhibition.id in data.liked_exhibition_ids %}
            <i class="fa-solid fa-heart fa-2x" onclick="likeExhibition(this, '{{ exhibition.id }}')"></i>
          {% else %}
            <i class="fa-regular fa-heart fa-2x" onclick="likeExhibition(this, '{{ exhibition.id }}')"></i>
          {% endif %}
        {% else %}
          <i class="fa-regular fa-heart fa-2x" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
        {% endif %}
        <img src="{{ exhibition.thumbnail_img }}"
          class="card-img-top"
          alt="{{ exhibition.title|safe }}"/>
        <div class="card-body" onclick="window.location='/exhibition/{{ exhibition.id }}'">
          <h5 class="card-title">{{ exhibition.title|safe }}</h5>
          <ul>
            <li>
              <strong>기간:</strong>
              <p class="card-text gallery-date">
                {{ exhibition.start_date }} ~ {{ exhibition.end_date }}
              </p>
            </li>
            <li>
              <strong>장소:</strong>
              <p class="card-text gallery-place">{{ exhibition.name }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- 페이지네이션 -->
  <div class="pagination">
    {% set url = "" %}
    {% if data.keyword %}{% set url = url + "&keyword=" + data.keyword %}{% endif %}
    {% if data.sub_sorts %}{% set url = url + "&sub_sort=" + data.sub_sorts | urlencode %}{% endif %}
    {% if data.areas %}{% set url = url + "&area=" + data.areas | urlencode %}{% endif %}
    {% if data.sort %}{% set url = url + "&sort=" + data.sort %}{% endif %}
    {% include 'common/pagenation.html' %}
  </div>
{% endblock %}
