{% extends 'common/layout.html' %}

{% block style %}
<script src="{{ url_for('static', filename='truncate.js') }}" defer></script>
{% endblock %}

{% block search %}
  <form action="/search" method="get">
    {% include 'common/block_search.html' %}
    <span class="search_result">"{{ keyword }}" 검색결과 {{ exhibition_count + exhibition_count + gallery_count }}건</span>
  </form>
    {% include './common/filter.html' %}
{% endblock %}

{% block content %}

  <h3>전시({{ exhibition_count }})</h3>
  <div class="row row-cols-1 row-cols-md-3 g-5">
    {% for exhibition in exhibition_list %}
    <div class="col">
      <div class="card" id="{{ exhibition.id }}">
        {% if user_id %}
          {% if exhibition.id in liked_exhibition_ids %}
            <i class="fa-solid fa-heart fa-2x" onclick="likeExhibition(this, '{{ exhibition.id }}')"></i>
          {% else %}
            <i class="fa-regular fa-heart fa-2x" onclick="likeExhibition(this, '{{ exhibition.id }}')"></i>
          {% endif %}
        {% else %}
          <i class="fa-regular fa-heart fa-2x" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
        {% endif %}
        <img src="{{ exhibition.thumbnail_img }}"
          class="card-img-top"
          alt="{{ exhibition.title }}"/>
        <div class="card-body" onclick="window.location='/exhibition/{{ exhibition.id }}'">
          <h5 class="card-title">{{ exhibition.title }}</h5>

          <ul>
            <li>
              <strong>기간:</strong>
              <p class="card-text gallery-date">
                {{ exhibition.start_date }} ~ {{ exhibition.end_date }}
              </p>
            </li>
            <li>
              <strong>장소:</strong>
              <p class="card-text gallery-place">{{ exhibition.name }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div><a href="{{ url_for('search_exhibition.search_exhibition', keyword=keyword) }}">전시 결과 더보기</a></div>

  <hr>
  <h3>작가({{ exhibition_count }})</h3>
  <div class="card mb-3" style="max-width: 100%;">
    {% for exhibition in exhibition_list %}
    <div class="row artist-row ">
      <div class="col-md-4 artist-col">
        <i class="fa-regular fa-bookmark fa-2x"></i>
        <img src="{{ exhibition.thumbnail_img }}" class="img-fluid rounded-start" alt="{{ exhibition.title }}">
      </div>
      <div class="col-md-8">
        <div class="my-card-body">
          <h5 class="card-title">{{ exhibition.title }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div><a href="{{ url_for('search_artist.search_artist', keyword=keyword) }}">작가 결과 더보기</a></div>
  
  <hr>
  <h3>미술관({{ gallery_count }})</h3>
  <div class="card mb-3" style="max-width: 100%;">
    {% for gallery in gallery_list %}
    <div class="row artist-row">
      <div class="col-md-4 artist-col" id="{{ gallery.id }}">
        {% if user_id %}
          {% if gallery.id in followed_gallery_ids %}
            <i class="fa-solid fa-bookmark fa-2x" onclick="followGallery(this, '{{ gallery.id }}')"></i>
          {% else %}
            <i class="fa-regular fa-bookmark fa-2x" onclick="followGallery(this, '{{ gallery.id }}')"></i>
          {% endif %}
        {% else %}
          <i class="fa-regular fa-bookmark fa-2x" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
        {% endif %}
        <img src="{{ gallery.thumbnail_img }}" class="img-fluid rounded-start" alt="{{ gallery.name }}">
      </div>
      <div class="col-md-8">
        <div class="my-card-body" onclick="window.location='/gallery/{{ gallery.id }}'">
          <h5 class="card-title">{{ gallery.name }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div><a href="{{ url_for('search_gallery.search_gallery', keyword=keyword) }}">미술관 결과 더보기</a></div>

{% endblock %}
