{% extends 'common/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/search_box.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/filter_btn.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/exhibition-card.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/icon.css') }}">
  <script src="{{ url_for('static', filename='/js/truncate.js') }}" defer></script>
{% endblock %}

{% block search %}
  <form action="/search" method="GET">
    {% include 'common/block_search.html' %}
    {% if data.keyword %}
      <span class="search_result">"{{ data.keyword }}" 검색결과 {{ data.exhibition_count + data.artist_count + data.gallery_count }}건</span>
    {% endif %}
    <span class="search_result"></span>
  </form>
  {% include './common/filter.html' %}
{% endblock %}

{% block content %}
  <!-- 전시 데이터 -->
  <h3>전시({{ data.exhibition_count }})</h3>
  <a href="{{ url_for('search_exhibition.search_exhibition', keyword=data.keyword) }}">전시 결과 더보기</a>
  <!-- 전시 카드 리스트 (JavaScript로 카드 생성) -->
  <div class="exhibition-card-list"></div>
  
  <hr>
  <!-- 작가 데이터 -->
  <h3>작가({{ data.artist_count }})</h3>
  <div class="card mb-3">
    {% for artist in data.artist_list %}
    <div class="row artist-row" id="{{ artist.id }}">
      <div class="col-md-4 artist-col">
        {% if data.user_id %}
          {% if artist.id in data.followed_artist_ids %}
            <i class="fa-solid fa-bookmark fa-2x" onclick="followArtist(this, '{{ artist.id }}')"></i>
          {% else %}
            <i class="fa-regular fa-bookmark fa-2x" onclick="followArtist(this, '{{ artist.id }}')"></i>
          {% endif %}
        {% else %}
          <i class="fa-regular fa-bookmark fa-2x" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
        {% endif %}
        <img src="{{ url_for('static', filename='/img/icon/artist_default.svg') }}" class="img-fluid rounded-start" alt="{{ artist.name }}">
      </div>
      <div class="col-md-8">
        <div class="my-card-body" onclick="window.location='/artist/{{ artist.id }}'">
          <h5 class="card-title">{{ artist.name }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div>
    <a href="{{ url_for('search_artist.search_artist', keyword=keyword) }}">작가 결과 더보기</a>
  </div>
  <hr>
  <!-- 미술관 데이터 -->
  <h3>미술관({{ data.gallery_count }})</h3>
  <div class="card mb-3">
    {% for gallery in data.gallery_list %}
    <div class="row gallery-row" id="{{ gallery.id }}">
      <div class="col-md-4 gallery-col">
        {% if data.user_id %}
          {% if gallery.id in data.followed_gallery_ids %}
            <i class="fa-solid fa-bookmark fa-2x" onclick="followGallery(this, '{{ gallery.id }}')"></i>
          {% else %}
            <i class="fa-regular fa-bookmark fa-2x" onclick="followGallery(this, '{{ gallery.id }}')"></i>
          {% endif %}
        {% else %}
          <i class="fa-regular fa-bookmark fa-2x" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
        {% endif %}
        <img src="{{ url_for('static', filename='/img/icon/gallery_default2.svg') }}" class="img-fluid rounded-start" alt="{{ gallery.name }}" style="width: 150px;">
      </div>
      <div class="col-md-8">
        <div class="my-card-body" onclick="window.location='/gallery/{{ gallery.id }}'">
          <h5 class="card-title">{{ gallery.name }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div>
    <a href="{{ url_for('search_gallery.search_gallery', keyword=keyword) }}">미술관 결과 더보기</a>
  </div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var data = {{ data|tojson|safe }};
</script>
<script type="module" src="{{ url_for('static', filename='/js/search.js')}}"></script>
{% endblock %}
