{% extends 'common/layout.html' %}

{% block style %}
<script src="{{ url_for('static', filename='search_exhibition.js') }}" defer></script>
<script src="{{ url_for('static', filename='truncate.js') }}" defer></script>
{% endblock %}

{% block search %}
  <form action="/search/exhibition" method="get">
    <div class="input-group mb-3" style="width: 500px; margin: 0 auto; padding-top: 50px;">
      <input type="text" name="keyword" class="form-control" placeholder="검색어를 입력해주세요" value="{{ keyword }}" id="keyword-input">   
      <button class="btn btn-outline-secondary" type="submit" id="filter-button">검색</button> 
  </div>
  </form>
  <span class="search_result">"{{ keyword }}" 검색결과 {{ exhibition_count }}건</span>
  {% set type = "exhibition" %}
  {% include './common/filter.html' %}
{% endblock %}


{% block sorting %}
  {% include 'common/block_sorting.html' %}
{% endblock %}

{% block content %}

  <h3>전시({{ exhibition_count }})</h3>
  <div class="row row-cols-1 row-cols-md-3 g-5">
    {% for exhibition in exhibitions %}
    <div class="col">
      <div class="card" id="{{ exhibition.id }}">
        {% if user_id %}
          {% if exhibition.id in liked_exhibition_ids %}
            <i class="fa-solid fa-heart fa-2x" onclick="likeExhibition(this, '{{ exhibition.id }}')"></i>
          {% else %}
            <i class="fa-regular fa-heart fa-2x" onclick="likeExhibition(this, '{{ exhibition.id }}')"></i>
          {% endif %}
        {% else %}
          <i class="fa-regular fa-heart fa-2x" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
        {% endif %}
        <img src="{{ exhibition.thumbnail_img }}"
          class="card-img-top"
          alt="{{ exhibition.title }}"/>

        <div class="card-body" onclick="window.location='/exhibition/{{ exhibition.id }}'">
          <h5 class="card-title">{{ exhibition.title }}</h5>

          <ul>
            <li>
              <strong>기간:</strong>
              <p class="card-text gallery-date">
                {{ exhibition.start_date }} ~ {{ exhibition.end_date }}
              </p>
            </li>
            <li>
              <strong>장소:</strong>
              <p class="card-text gallery-place">{{ exhibition.name }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="pagination">
    {% include 'common/pagenation.html' %}
  </div>

{% endblock %}
