{% extends 'common/layout.html' %}

{% block search %}
  <form action="/search/gallery" method="get">
    {% include 'common/block_search.html' %}
  </form>
  <span class="search_result">"{{ keyword }}" 검색결과 {{ gallery_count }}건</span>
  {% set type = "gallery" %}
  {% include './common/filter.html' %}
{% endblock %}

{% block content %}
  <h3>미술관({{ gallery_count }})</h3>
  <div class="card mb-3" style="max-width: 100%;">
    {% for gallery in gallerys %}
    <div class="row artist-row ">
      <div class="col-md-4 artist-col">
        {% if user_id %}
          {% if gallery.id in followed_gallery_ids %}
            <i class="fa-solid fa-bookmark fa-2x" onclick="followGallery(this, '{{ gallery.id }}')"></i>
          {% else %}
            <i class="fa-regular fa-bookmark fa-2x" onclick="followGallery(this, '{{ gallery.id }}')"></i>
          {% endif %}
        {% else %}
          <i class="fa-regular fa-bookmark fa-2x" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></i>
        {% endif %}
        <img src="{{ gallery.thumbnail_img }}" class="img-fluid rounded-start" alt="{{ gallery.name }}">
      </div>
      <div class="col-md-8">
        <div class="my-card-body" onclick="window.location='/gallery/{{ gallery.id }}'">
          <h5 class="card-title">{{ gallery.name }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
