{% extends 'common/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/search_box.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/filter_btn.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/pagination.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/rounded_card.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/components/icon.css') }}">
{% endblock %}

{% block search %}
  <form action="/search/gallery" method="GET">
    {% set keyword = data.keyword %}
    {% include 'common/block_search.html' %}
  </form>
  {% if keyword %}
    <span class="search_result">"{{ keyword }}" 검색결과 {{ data.gallery_count }}건</span>
  {% endif %}
    <span class="search_result"></span>
  {% set type = "gallery" %}
  {% include './common/filter.html' %}
{% endblock %}

{% block content %}
  <h3>미술관({{ data.gallery_count }})</h3>
  <div class="rounded-card-list">
    {% for gallery in data.galleries %}
      <div class="rounded-card" id="{{ gallery.id }}">
        {% if data.user_id %}
          {% if gallery.id in data.followed_gallery_ids %}
          <div class="bookmark on" onclick="followGallery(this, '{{ gallery.id }}')"></div>
          {% else %}
          <div class="bookmark off" onclick="followGallery(this, '{{ gallery.id }}')"></div>
          {% endif %}
        {% else %}
          <div class="bookmark off" onclick="alert('로그인 후 이용 가능한 서비스입니다.')"></div>
        {% endif %}
        {% if gallery.thumbnail_img %}
          <img src="{{ gallery.thumbnail_img }}" alt="{{ gallery.name }}" class="rounded-card-img">
        {% else %}
          <img src="{{ url_for('static', filename='/img/default/default_gallery.png') }}" alt="{{ gallery.name }}" class="rounded-card-img">
        {% endif %}
        <a href="/gallery/{{ gallery.id }}" class="rounded-card-text-container">
          <h5 class="rounded-card-name">{{ gallery.name }}</h5>
        </a>
      </div>
    {% endfor %}
  </div>
  <!-- 페이지네이션 -->
  <div class="pagination">
    {% set url = "" %}
    {% if data.keyword %}{% set url = url + "&keyword=" + data.keyword %}{% endif %}
    {% include 'common/pagination.html' %}
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='/js/follow_gallery.js')}}"></script>
{% endblock %}
