<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 전시 이름 -->
    <h3>{{exhibition.title}}</h3>

    <!-- 전시 정보 -->
    <li>전시명: {{ exhibition.title }}</li>
    <li>기간: {{ exhibition.start_date }} ~ {{ exhibition.end_date }}</li>
    <li>시간: {{ exhibition.opening_hours }}</li>
    <li>장소: {{ exhibition.area }} | {{ exhibition.gallery_name }}</li>
    <li>요금: {{ exhibition.price }}</li>
    <li>작가: {{ exhibition.artist_name }}</li>
    <li>전시 포스터:<br> <img src="{{ exhibition.thumbnail_img }}" alt="{{ exhibition.title }}" style="max-height: 300px;">
    </li>

    <!-- 전시 소개 -->
    <h3>전시소개</h3>
    {{ exhibition.description }}

    <!-- 코멘트 작성 -->
    <h3>코멘트 작성하기</h3>
    <form action="{{ url_for('exhibition.add_comment', id=id) }}" method="POST">
        <textarea id="comment" name="content" rows="2" cols="50" placeholder="내용을 입력해주세요."></textarea>
        <input type="submit" value="등록">
    </form>

    <!-- 코멘트 조회 -->
    <div class="comment">
        <h3>등록된 코멘트</h3>
        {% for comment in comments %}
        <div class="comment-info">
            <span>관람자: {{ comment.nickname }} | {{ comment.created_at }}</span>
            {% if "user_id" in session and session["user_id"] == comment.user_id %}
            <button class="edit-button" data-comment-id="{{ comment.comment_id }}">수정</button>
            <!-- 수정 폼 -->
            <form class="edit-form" id="edit-form-{{ comment.comment_id }}" style="display: none;"
                action="{{ url_for('exhibition.edit_comment', id=id, comment_id=comment.comment_id) }}" method="POST">
                <textarea name="edited_content" rows="2" cols="50">{{ comment.content }}</textarea>
                <input type="submit" value="등록">
            </form> 
            <form class="delete-form"
                action="{{ url_for('exhibition.delete_comment', id=id, comment_id=comment.comment_id) }}" method="POST"
                style="display: inline;">
                <button type="submit" class="delete-button">삭제</button>
            </form>                       
            {% endif %}
            <br>관람평: {{ comment.content }}
        </div>
        <br>

    </div>
    {% endfor %}

    <!-- 코멘트 수정 클릭 시 토글 -->
    <script>
        const editButtons = document.querySelectorAll('.edit-button');
        editButtons.forEach(button => {
            button.addEventListener('click', event => {
                event.preventDefault();
                const commentId = button.getAttribute('data-comment-id');
                const editForm = document.getElementById(`edit-form-${commentId}`);
                const submitButton = editForm.querySelector('input[type="submit"]');

                if (editForm.style.display === 'none') {
                    editForm.style.display = 'block';
                    submitButton.value = '등록';
                    button.textContent = '취소';
                } else {
                    editForm.style.display = 'none';
                    submitButton.value = '수정 완료';
                    button.textContent = '수정';
                }
            });
        });
    </script>


</body>

</html>