<div class="flex-box">
  <div id="moreCategories">
    <hr class="sort-type-line">
    <div class="flex-box">
      <button class="btn default btn-type btn-regular {% if data.sub_sorts and 'ongoing' in data.sub_sorts %}selected{% endif %}" sub-sort="ongoing">전시중</button>
      <button class="btn default btn-type btn-regular {% if data.sub_sorts and 'ended' in data.sub_sorts %}selected{% endif %}" sub-sort="ended">전시종료</button>
      <button class="btn default btn-type btn-regular {% if data.sub_sorts and 'upcoming' in data.sub_sorts %}selected{% endif %}" sub-sort="upcoming">전시예정</button>
      <button class="btn default btn-type btn-regular {% if data.sub_sorts and 'available_purchase' in data.sub_sorts %}selected{% endif %}" sub-sort="available_purchase">예매가능</button>
    </div>
    <hr class="sort-area-line">
    <div class="flex-box">
      <button class="btn default btn-area btn-regular {% if data.areas and '서울특별시' in data.areas %}selected{% endif %}" sub-sort="서울특별시">서울</button>
      <button class="btn default btn-area btn-regular {% if data.areas and '경기도' in data.areas %}selected{% endif %}" sub-sort="경기도">경기</button>
      <button class="btn default btn-area btn-regular {% if data.areas and '강원특별자치도' in data.areas %}selected{% endif %}" sub-sort="강원특별자치도">강원</button>
      <button class="btn default btn-area btn-regular {% if data.areas and '대전광역시' in data.areas %}selected{% endif %}" sub-sort="대전광역시">대전</button>
      <button class="btn default btn-area btn-regular {% if data.areas and '광주광역시' in data.areas %}selected{% endif %}" sub-sort="광주광역시">광주</button>
      <button class="btn default btn-area btn-regular {% if data.areas and '부산광역시' in data.areas %}selected{% endif %}" sub-sort="부산광역시">부산</button>
      <button class="btn default btn-area btn-regular {% if data.areas and '대구광역시' in data.areas %}selected{% endif %}" sub-sort="대구광역시">대구</button>
      <button class="btn default btn-area btn-regular {% if data.areas and '제주특별자치도' in data.areas %}selected{% endif %}" sub-sort="제주특별자치도">제주</button>
    </div>
    <div class="flex-box">    
        <button class="btn default btn-area btn-regular {% if data.areas and '인천광역시' in data.areas %}selected{% endif %}" sub-sort="인천광역시">인천</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '충청남도' in data.areas %}selected{% endif %}" sub-sort="충청남도">충남</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '충청북도' in data.areas %}selected{% endif %}" sub-sort="충청북도">충북</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '울산광역시' in data.areas %}selected{% endif %}" sub-sort="울산광역시">울산</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '전라남도' in data.areas %}selected{% endif %}" sub-sort="전라남도">전남</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '전라북도' in data.areas %}selected{% endif %}" sub-sort="전라북도">전북</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '경상남도' in data.areas %}selected{% endif %}" sub-sort="경상남도">경남</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '경상북도' in data.areas %}selected{% endif %}" sub-sort="경상북도">경북</button>
        <button class="btn default btn-area btn-regular {% if data.areas and '세종특별자치시' in data.areas %}selected{% endif %}" sub-sort="세종특별자치시">세종</button>
    </div>
  </div>
</div>
<hr class="sort-top-line">
<div class="flex-box">
  <button class="btn btn-outline-primary btn-top btn-regular {% if data.sort and 'popularity' in data.sort %}selected{% endif %}" sub-sort="popularity">인기순</button>
  <button class="btn btn-outline-primary btn-top btn-regular {% if data.sort and 'featured' in data.sort %}selected{% endif %}" sub-sort="featured">지금 주목 받는 전시</button>
  <button class="btn btn-outline-primary btn-top btn-regular {% if data.sort and 'recommended' in data.sort %}selected{% endif %}" sub-sort="recommended">추천 전시</button>
</div>