<div class="flex-box">
    <a href="{{ url_for('search_exhibition.search_exhibition', keyword=keyword) }}" name="exhibition" class="btn default btn-regular btn-width {% if type == 'exhibition' %}selected{% endif %}">
        전시
    </a>
    <a href="{{ url_for('search_artist.search_artist', keyword=keyword) }}" name="artist" class="btn default btn-regular btn-width {% if type == 'artist' %}selected{% endif %}">
        작가
    </a>
    <a href="{{ url_for('search_gallery.search_gallery', keyword=keyword) }}" name="gallery" class="btn default btn-regular btn-width {% if type == 'gallery' %}selected{% endif %}">
        미술관
    </a>
</div>