<div style="display: flex; justify-content: center;">
    <button type="submit" name="exhibition" id="category" class="btn btn-outline-secondary"
        onclick="window.location='{{ url_for('search.search_exhibition', keyword=keyword) }}'">전시</button>
    <button type="submit" name="artist" id="category" class="btn btn-outline-secondary"
        onclick="window.location='{{ url_for('search.search_artist', keyword=keyword) }}'">작가</button>
    <button type="submit" name="gallery" id="category" class="btn btn-outline-secondary"
        onclick="window.location='{{ url_for('search.search_gallery', keyword=keyword) }}'">미술관</button>
</div>