<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      {% if current_page > 1 %}
      <a class="page-link pagebutton" href="?{{ url }}&page=1" aria-label="Previous">
      {% else %}
      <a class="page-link pagebutton disabled" aria-label="Previous">
      {% endif %}
        <span aria-hidden="true"><<</span>
      </a>
    </li>

    <li class="page-item">
      {% if current_page == 1 %}
      <a class="page-link pagebutton disabled" aria-label="Previous">
      {% elif current_page <= 5 %}
      <a class="page-link pagebutton" href="?{{ url }}&page=1" aria-label="Previous">
      {% else %}
      <a class="page-link pagebutton" href="?{{ url }}&page={{ current_page-5 }}" aria-label="Previous">
      {% endif %}
        <span aria-hidden="true"><</span>
      </a>
    </li>

    {% for p in page_list %}
    {% if current_page == p %}
    <li class="page-item active">
      <a class="page-link pagebutton">{{ p }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link pagebutton" href="?{{ url }}&page={{ p }}">{{ p }}</a>
    </li>
    {% endif %}
    {% endfor %}

    <li class="page-item">
      {% if current_page == total_pages %}
      <a class="page-link pagebutton disabled" aria-label="Previous">
      {% elif current_page >= total_pages-5 %}
      <a class="page-link pagebutton" href="?{{ url }}&page={{ total_pages }}" aria-label="Previous">
      {% else %}
      <a class="page-link pagebutton" href="?{{ url }}&page={{ current_page+5 }}" aria-label="Previous">
      {% endif %}
        <span aria-hidden="true">></span>
      </a>
    </li>

    <li class="page-item">
      {% if current_page < total_pages %}
      <a class="page-link pagebutton" href="?{{ url }}&page={{ total_pages }}" aria-label="Previous">
      {% else %}
      <a class="page-link pagebutton disabled" aria-label="Previous">
      {% endif %}
        <span aria-hidden="true">>></span>
      </a>
    </li>
  </ul>
</nav>