input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.selected-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#selected-date, .selected-price-full {
  color: var(--navy);
  font-size: 24px;
}

.datepicker-days .day {
  width: 40px;
  height: 30px;
}

.datepicker-days .disabled.day {
  color: var(--gray200);
}

.datepicker-days .new.day, .old.day {
  color: var(--gray300);
}

.datepicker-days .day:hover {
  border-radius: 50%;
}

.datepicker-days .active.day {
  border-radius: 50%;
  background-image: var(--blue);
}

.datepicker-days .active.day:hover {
  border-radius: 50%;
  background-image: var(--blue);
}