.heart, .bookmark {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--gray100);
  box-shadow: -5px -5px 64px var(--gray400)
            5px  5px 64px var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart::before, .bookmark::before {
  content: '';
  width: 65%;
  height: 65%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.heart.on::before {
  background-color: var(--red);
  display: flex;
  -webkit-mask-image: url(/static/img/icon/heart_on.svg);
  mask-image: url(/static/img/icon/heart_on.svg);
}

.heart.off::before {
  background-color: var(--red);
  -webkit-mask-image: url(/static/img/icon/heart_off.svg);
  mask-image: url(/static/img/icon/heart_off.svg);
}

.bookmark.on::before {
  background-color: var(--gray500);
  -webkit-mask-image: url(/static/img/icon/bookmark_on.svg);
  mask-image: url(/static/img/icon/bookmark_on.svg);
}

.bookmark.off::before {
  background-color: var(--gray500);
  -webkit-mask-image: url(/static/img/icon/bookmark_off.svg);
  mask-image: url(/static/img/icon/bookmark_off.svg);
}