#keyword-input {
  height: 40px;
}

input::placeholder {
	font-size: 14px;
}

input::-webkit-input-placeholder {
	background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png) ;
	background-size: 25px 25px;
	background-position: 0px center;
	background-repeat: no-repeat;
	padding-left: 40px;
}

.input-group {
	width: 500px; 
	padding-top: 50px;
	margin: 0 auto; 
}