<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 작가 이름 -->
    <h3>{{artist[0]}}</h3>
    
    <!-- 전시 정보 -->
    <h3>진행중 전시회 ({{ ongoing_count }})</h3>
        {% for exhibition in ongoing_exhibitions %}
        <li>전시명: {{ exhibition[0] }}</li>
        <li>미술관명: {{ exhibition[1] }}</li>
        <li>전시기간: {{ exhibition[2] }} ~ {{ exhibition[3] }}</li>
        <li>전시 포스터:<br> <img src="{{ exhibition[4] }}" alt="{{ exhibition[0] }}" style="max-height: 300px;"></li>
        {% endfor %}

        <h3>예정중 전시회 ({{ upcoming_count }})</h3>
        {% for exhibition in upcoming_exhibitions %}
        <li>전시명: {{ exhibition[0] }}</li>
        <li>미술관명: {{ exhibition[1] }}</li>
        <li>전시기간: {{ exhibition[2] }} ~ {{ exhibition[3] }}</li>
        <li>전시 포스터:<br> <img src="{{ exhibition[4] }}" alt="{{ exhibition[0] }}" style="max-height: 300px;"></li>
        {% endfor %}

        <h3>지난 전시회 ({{ ended_count }})</h3>
        {% for exhibition in ended_exhibitions %}        
        <li>전시명: {{ exhibition[0] }}</li>
        <li>미술관명: {{ exhibition[1] }}</li>
        <li>전시기간: {{ exhibition[2] }} ~ {{ exhibition[3] }}</li>
        <li>전시 포스터:<br> <img src="{{ exhibition[4] }}" alt="{{ exhibition[0] }}" style="max-height: 300px;"></li>
        {% endfor %}
</body>

</html>