{% extends 'common/layout_side_split.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/components/rounded_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/components/icon.css') }}">
{% endblock %}

{% block content %}
  <!-- 미술관 카드 리스트 (JavaScript로 카드 생성) -->
  <div class="gallery-card-list rounded-card-list"></div>
{% endblock %}

{% block script %}
<script>
  var data = {{ data|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='/js/gallery_card.js')}}"></script>
<script src="{{ url_for('static', filename='/js/follow_gallery.js')}}"></script>
{% endblock %}