{% extends 'common/layout_side_split.html' %}

{% block content %}
<div class="row">
  {% for gallery in gallery_list %}
  <div class="col-6 col-sm-4 col-lg-3">
    <div class="gallery-card">
      <div class="img-container">
        <img id="profile_image" src="{{ url_for('static', filename='/img/icon/gallery_default2.svg') }}" alt="미술관 이미지"
          width="100%" />
      </div>
      <i class="{% if gallery.follows %} fa-solid {% else %} fa-regular {% endif %} fa-bookmark fa-2x follow-gallery"
        onclick="followGallery(this, '{{ gallery.id }}')"></i>
      <a href="/gallery/{{ gallery.id }}">{{ gallery.name }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/840a32f19e.js" crossorigin="anonymous"></script>
{% endblock %}