{% extends 'common/layout.html' %}

{% block content %}
    <div class="container text-center">
        <h1>소셜 로그인</h1>
        <div>
            <form method="post" action="{{ url_for('user.login') }}">
                <input type="hidden" class="btn btn-primary" value="네이버 로그인 버튼" name="naver_login">
                <input type="image" src="{{ url_for('static', filename='/img/naver/naver_circle_logo.png') }}" width="60" alt="네이버 로그인 버튼" name="naver_login">
            </form>
            <form method="post" action="{{ url_for('user.login') }}">
                <input type="hidden" class="btn btn-primary" value="카카오 로그인 버튼" name="kakao_login">
                <input type="image" src="{{ url_for('static', filename='/img/kakao/kakao_circle_logo.png') }}" width="60" alt="카카오 로그인 버튼" name="kakao_login">
            </form>
        </div>
    </div>
{% endblock %}