<div class="container-fluid">
  <div class="d-flex">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('exhibition_like.exhibition_like') }}">전시</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('artist_follow.artist_follow') }}">작가</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gallery_follow.gallery_follow') }}">미술관</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('booking_list.booking_list') }}">내 예매내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.user') }}">내 정보</a>
      </li>
    </ul>
  </div>
</div>