{% extends 'common/layout_side_split.html' %}

{% block content %}
<div class="container ms-5">
  <div>
    <h1>내 정보 수정</h1>
    <p>프로필을 수정할 수 있습니다.</p>
  </div>
  <div>
    <div>
      <div>
        <form method="POST" action="{{ url_for('user.user') }}">
          <p>프로필 이미지</p>
          {% if user_info.profile_img == None %}
            <img id="profile_image" src="{{ url_for('static', filename='/img/icon/user_default.svg') }}" alt="프로필 이미지"
              width="60" height="60" style="border-radius: 50%;" />
          {% else %}
            <img id="profile_image" src="{{ user_info.profile_img }}" alt="프로필 이미지" width="60" height="60"
              style="border-radius: 50%;" />
          {% endif %}
          <input type="file" id="profile_upload" name="file_upload" accept="image/*" style="display: none;" />
          <br /><br />
          <p>닉네임</p>
          {% if user_info.message != None %}
            <div class="message">
              <p>{{ user_info.message }}</p>
            </div>
          {% endif %}
          <input type="text" value="{{ user_info.nickname }}" name="input_nickname" />
          <br />
          <input type="submit" class="btn btn-primary" value="적용하기" name="submit" />
        </form>
      </div>
      <br />
      <div>
        <p>회원 탈퇴</p>
        <div class="delete_container d-flex justify-content-start">
          {% if user_info.login_type == "NAVER" %}
            <div class="delete_btn m-1">
              <form method="post" action="{{ url_for('user.delete') }}">
                <input type="hidden" class="btn btn-primary" value="네이버 탈퇴 버튼" name="naver_delete">
                <input type="image" src="{{ url_for('static', filename='/img/naver/naver_circle_logo.png') }}" width="60"
                  alt="네이버 탈퇴 버튼" name="naver_delete">
              </form>
            </div>
          {% elif user_info.login_type == "KAKAO" %}
            <div class="delete_btn m-1">
              <form method="post" action="{{ url_for('user.delete') }}">
                <input type="hidden" class="btn btn-primary" value="카카오 탈퇴 버튼" name="kakao_delete">
                <input type="image" src="{{ url_for('static', filename='/img/kakao/kakao_circle_logo.png') }}" width="60"
                  alt="카카오 탈퇴 버튼" name="kakao_delete">
              </form>
            </div>
          {% endif %}
        </div>
        <form method="POST" action="{{ url_for('user.logout') }}">
          <input type="submit" class="btn btn-primary" value="로그아웃" name="logout" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}